[user]
name = it3ration
email = it3ration

[credential]
helper = osxkeychain

[color]
ui = true
diff = true

[color "grep"]
match = black yellow bold

[alias]
ci = commit
st = status
co = checkout
br = branch
lg = log --graph --color --pretty=format:'%C(bold red)%h%C(reset) %s (%C(green)%cr%C(reset)) %C(magenta)%an%C(reset)%C(yellow)%d%C(reset)'

[core]
editor = emacs

[push]
default = simple

# Use ssh instead of https.
[url "git@github.com:"]
insteadOf = https://github.com/

# Settings for lfs.
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
