[user]
name = it3ration
email = it3ration

[credential]
helper = osxkeychain

[color]
diff = always

[alias]
ci = commit
st = status
co = checkout
br = branch
glog = log --graph

[core]
editor = emacs

[push]
default = simple
